@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 340px: Small Phone
340px - 600px: Phone
600 - 900px: Tablet
900 - 1100px: Tablet Landscape
1100 - 1800px: Normal styles apply
1800px +: Large Desktop

$breakpoint argument choices:
- small-phone
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em - 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == small-phone {
    @media only screen and (max-width: 21.25em) {
      @content;
    }
  } @else if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  } @else if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  } @else if $breakpoint == tab-land {
    @media only screen and (max-width: 68.5em) {
      @content;
    }
  } @else if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
