// COLOR VARIABLES
$color-primary: #581adf;
$color-primary-light: #7948e5;

$color-secondary: #ee626b;
$color-secondary-dark: #ec4b55;
$color-secondary-dark-2: #8f3b40;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #1e1e1e;
$color-grey-dark-2: #7a7a7a;

$color-white: #fff;
$color-black: #000;

// BORDER VARIABLES
$default-border-radius: 25px;
$lg-border-radius: 150px;
$md-border-radius: 20px;
$sm-border-radius: 10px;

// FONT VARIABLES
$font-primary: "Poppins", sans-serif;
