.main-nav {
  @include respond(tab-port) {
    background-color: rgba($color-primary, $alpha: 0.9);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hiding the nav without display: none */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.8rem;

    @include respond(tab-port) {
      flex-direction: column;
      gap: 3.6rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: $color-white;
      padding: 0.8rem 1.8rem;
      border-radius: 20px;
      font-weight: 500;
      font-size: 1.5rem;
      transition: all 0.25s;

      @include respond(tab-port) {
        font-size: 2.5rem;
        padding: 1.1rem 2.5rem;
      }
    }

    &:hover,
    &:active,
    &--active {
      background-color: rgba($color-white, 0.1);
    }

    &:hover,
    &:active {
      transform: translateY(-2px);
    }

    &--cta {
      &:link,
      &:visited {
        background-color: $color-secondary;
        font-weight: 600;
        text-transform: uppercase;
      }

      &:hover,
      &:active {
        background-color: $color-secondary-dark;
      }
    }
  }
}

/* MOBILE NAVIGATION */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;

  @include respond(tab-port) {
    display: block;
    z-index: 1000;
  }
}

.icon-mobile-nav {
  color: $color-white;
  font-size: 3rem;
}

.fa.icon-mobile-nav__menu {
  display: block;
}

.fa.icon-mobile-nav__close {
  display: none;
}

.nav-open {
  .main-nav {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    transform: translateX(0);
  }

  .icon-mobile-nav {
    &__menu {
      display: none;
    }

    &__close {
      display: block;
    }
  }
}
