.product-details {
  background-color: $color-grey-light-1;
  border-radius: $default-border-radius;
  padding: 7.2rem;
  transition: all 0.25s ease-in-out;

  @include respond(phone) {
    padding: 5.5rem;
  }

  .nav-link {
    border: none;
    border-radius: 0;
    background-color: transparent !important;
    font-size: 2.2rem;
    font-weight: 600;
    color: $color-grey-dark-1;
    padding: 0;
  }

  .nav-tabs {
    border-bottom: none;

    li {
      border-right: 1px solid $color-grey-light-3;
      margin-right: 3rem;
      padding-right: 3rem;

      @include respond(phone) {
        border-right: none;
      }

      &:last-child {
        border-right: none;
        margin-right: 0;
        padding-right: 0;
      }
    }

    .nav-link.active {
      color: $color-primary;
    }
  }

  .tab-content {
    margin-top: 2.4rem;
    font-size: 1.6rem;
    color: $color-grey-dark-3;
  }
}
